@model MuseumManagement.Models.Location

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<h4>Gdzie znajduje się eksponat?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLocation" />
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExhibitionId" class="control-label"></label>
                <select asp-for="ExhibitionId" class="form-control" asp-items="ViewBag.ExhibitionId"></select>
                <span asp-validation-for="ExhibitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeFrom" class="control-label"></label>
                <input asp-for="TimeFrom" class="form-control" />
                <span asp-validation-for="TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTo" class="control-label"></label>
                <input asp-for="TimeTo" class="form-control" />
                <span asp-validation-for="TimeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
