@{
    ViewData["Title"] = "Strona głowna";
}

@section AddToHead{
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Ta aplikacja pozawala w łatwy sposób zarządzać eksponatami muzealnymi.<br /> Możesz dodawać i usuwać rekordy oraz szybko sprawdzić gdzie i jak długo znajduje się dzieło danego twórcy.</p>
</div>

