@{
    ViewData["Title"] = "Strona głowna";
}

@section AddToHead{
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>Strona służy do zarządzania miejscem pobytu eksponatów muzealnych.<br /> Możesz dodawać oraz usuwać nowe rekordy!</p>
</div>

