@model MuseumManagement.Models.Exhibition

@{
    ViewData["Title"] = "Create";
}

<h1>Utwórz</h1>

<h4>Wystawa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExhibitionName" class="control-label"></label>
                <input asp-for="ExhibitionName" class="form-control" />
                <span asp-validation-for="ExhibitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuseumId" class="control-label"></label>
                <select asp-for="MuseumId" class="form-control" asp-items="ViewBag.MuseumId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
